/* GENERAL */
* {
    box-sizing: border-box;
}

/* MAIN */
.section {
    margin-top: .5em;
    margin-bottom: 1em;
}

.center {
    text-align: center;
}

.in-line {
    display: inline-block;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.item {
    margin-bottom: 1em;
}

.item button {
    display: flex;
    margin: auto;
    font-size: 1.25em;
}

h3 {
    font-size: 1.3em;
}

/* Filter */
.fa {
    font-weight: 400;
    font-size: 2em;
}

.text-neut {
    color: lightgreen;
}

.text-fem {
    color: gold;
}

.text-masc {
    color:plum;
}

input {
    margin: .5em;
}

.small-text {
    font-size: .75em;
    color: darkgray
}

input[type='number'] {
    width: 2em;
}

.btn-light {
    color: white;
    background-color: #9370db;
}

.filter-container {
    flex-direction: column;
}

@media (min-width: 1000px) {
    .item {
        flex: 1;
        text-align: left;
    }

    .item.long {
        flex: 2;
    }
}

/* Name cards (mini) */
.card-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.card {
    background-color: lightgrey;
    color: white;
    margin: 1em;
    width: 40%;
    text-align: center;
    border-radius: 1em;
    padding: 1em;
}

.card2 {
    background-color: white;
    color: white;
    margin: 1em;
    width: 100%;
    text-align: center;
    border-radius: 1em;
    border-color: white;
}

.card .fa {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.fem {
    background-color: gold;
}

.neut {
    background-color: lightgreen;
}

.masc {
    background-color: plum;
}

img {
    height: 100px;
    width: 100px;
}

tbody tr:hover {
    background-color: #e6e6fa;
}

/*Nav and Footer*/
h1 {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

header {
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-size: contain;
    background-position: center;
    background-color: #9370db;
    text-align: center;
}

header p {
    display: inline;
}

nav {
    background-color: #e6e6fa;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: right;
}

nav li {
    display: inline;
}

.nav-b{
    display: flex;
}

.nav-b div {
    padding: .5em;
    margin-left: 30px;
    color: #9370db;
    background-color: #e6e6fa;
}

footer {
    color: white;
    background-color: #e6e6fa;
    padding-top: .5rem;
    padding-bottom: .5rem;
    bottom:0;
}

.footer-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.footer-flexbox div {
    flex-basis: 100%;
}


/*Data View 2 - Bigger Card*/
.attribute {
   background-color: white;
   color: black;
   text-align: center;
   font-size: .8rem;
   margin: 1em;
   padding: 1em;
   position: relative;
   border-color: white;
}

.section2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: auto;

}

.section2 .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;
    width: 80%;
}

.section2 h2 {
    font-size: larger;
}

.section2 .card .fa {
    color: black;
    font-size: .9rem;
    font-weight: bold;
}

/*Form - Enter Name*/
.update {
    text-align: center;
}

.form-attribute {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: lavender;
    border-radius: 1rem;
}

.button {
    margin: 1rem;
    background-color: #9370db;
    color: white;
}

/* bookmark page table */
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

td {
    padding: 1rem;
}

th {
    font-size: 25px;
    color: #9370db;
    text-align: center;
}

.book-container {
    margin-left: 2rem;
}

@media (max-width: 598px) {
    tbody img {
        display: none;
    }

    th {
        font-size: 15px;
        color: black;
    }

    footer {
        display: none;
    }

    nav {
        display: none;
    }
}
