/* GENERAL */
* {
    box-sizing: border-box;
}

main {
    padding: 1em;
}

.center {
    text-align: center;
}

.in-line {
    display: inline-block;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 1.3em;
}

.small-text {
    font-size: .75em;
    color: darkgray
}

.medium-text {
    font-size: 1.25em;
}

.large-text {
    font-size: 1.5em;
}

/* Flexbox */
.container {
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 1em;
}

.item {
    padding: .5em .75em;
}

.item button {
    display: flex;
    margin: auto;
    font-size: 1.25em;
}

.item .search {
    width: 7em;
    margin: 0;
}

.column {
    flex-direction: column;
}

/* FILTER */
input {
    margin: .5em;
}

input[type='number'] {
    width: 2em;
}

.btn-light {
    color: white;
    background-color: #9370db;
}

/* Gender */
.fa {
    font-weight: 400;
    font-size: 2em;
}

.text-neut {
    color: lightgreen;
}

.text-fem {
    color: gold;
}

.text-masc {
    color:plum;
}

.gender-text {
    display: none;
}

/* Name cards (mini) */
.card-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.card {
    margin: 1em;
    border-radius: .9em;
    padding: .6em;
}

.outer.card {
    width: 40%;
    color: white;
    text-align: center;
}

.inner.card {
    background-color: white;
    color: black;
    text-align: left;
    display: none;
    margin: .7em;
}

.card h3 {
    margin: 0;
}

.meaning {
    font-style: italic;
}

.large-card {
    background-color: white;
    color: white;
    margin: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-radius: 1em;
    border-color: white;
}

.card .fa {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.fem {
    background-color: gold;
}

.neut {
    background-color: lightgreen;
}

.masc {
    background-color: plum;
}

.load {
    background-color: lightgrey;
}

img {
    height: 100px;
    width: 100px;
}

tbody tr:hover {
    background-color: #e6e6fa;
}

/*Nav and Footer*/
h1 {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

header {
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #9370db;
    text-align: center;
    width: 100%;
}

header p {
    display: inline;
}

nav {
    background-color: #e6e6fa;
    text-align: right;
    height: 3rem;
}

nav li {
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: inherit;
    display: inline;
}

.nav-b{
    display: flex;
}

.nav-b div {
    padding: .5em;
    margin-left: 30px;
    color: #9370db;
    background-color: #e6e6fa;
}

footer {
    color: black;
    background-color: #e6e6fa;
    padding-top: .5rem;
    padding-bottom: .5rem;
    bottom:0;
}

footer a {
    color: black;
}

.footer-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.footer-flexbox div {
    flex-basis: 100%;
}


/*Data View 2 - Bigger Card*/
.attribute {
   background-color: white;
   color: black;
   text-align: center;
   font-size: .8rem;
   margin: 1em;
   padding: 1em;
   position: relative;
   border-color: white;
}

.section2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: auto;

}

.section2 .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;
    width: 80%;
}

.section2 h2 {
    font-size: larger;
}

.section2 .card .fa {
    color: black;
    font-size: .9rem;
    font-weight: bold;
}

/*Form - Enter Name*/
.update {
    text-align: center;
}

.form-attribute {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: lavender;
    border-radius: 1rem;
    justify-content: center;
}

.button {
    margin: 1rem;
    background-color: #9370db;
    color: white;
}

/* bookmark page table */
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

td {
    padding: 1rem;
}


.book-container {
    margin-left: 2rem;
}

tbody img {
    display: none;
}

th {
    font-size: 15px;
    color: black;
}

footer {
    display: none;
}

/* RESPONSIVE */
@media (min-width: 585px) {
    th {
        font-size: 25px;
        color: #9370db;
        text-align: center;
    }

    tbody img {
        display: block;
    }

    footer {
        display: block;
    }

    .search {
        display: inline;
    }

    /* Filter */
    .gender-text {
        display: inline;
    }
}

@media (min-width: 785px) {
    .item {
        flex: 1;
    }

    .item.long {
        flex: 2;
    }

}

@media (min-width: 1000px) {
    .inner.card {
        display: block;
    }
}