/* General */
.underline {
    text-decoration: underline;
}

/* Body */
body {
    padding-left: 1em;
    padding-right: 3em;
}

/* Header */
mark {
    color: plum;
}

.author {
    font-style: italic;
    font-size: 18px;
}