/* GENERAL */

* {
    box-sizing: border-box;
}

main {
    padding: 1em;
}



.center {
    text-align: center;
}

.in-line {
    display: inline-block;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 1.3em;
}

.small-text {
    font-size: .75em;
    color: darkgray
}

.medium-text {
    font-size: 1.25em;
}

.large-text {
    font-size: 1.5em;
}

/* Sticking footer to bottom of page (credit to https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/) */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 12em;
}

/* Flexbox */
.container {
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 1em;
}

.item {
    padding: .5em .75em;
}

.item button {
    display: flex;
    margin: auto;
    font-size: 1.25em;
}

.item .search {
    width: 11em;
    padding: .15em;
    /* margin: 0; */
}

.column {
    flex-direction: column;
}

/* FILTER */
input {
    margin: .5em;
}

input[type='number'] {
    width: 2em;
}

.btn-light {
    color: white;
    background-color: #9370db;
}

.btn-heart {
    padding: 0;
}

/* Gender */
.fa {
    font-weight: 400;
    font-size: 2em;
    padding: .2em;
}

.text-neut {
    color: lightgreen;
}

.text-fem {
    color: gold;
}

.text-masc {
    color:plum;
}

.gender-text {
    display: none;
}

/* Name cards (mini) */
.card-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.result-card-container {
    display: flexbox;
    flex-flow: row;
    justify-content: space-evenly;

}


.card {
    margin: 1em;
    border-radius: .9em;
    padding: .6em;
    background-color: darkgray;
}

.outer.card {
    width: 40%;
    color: white;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.inner.card {
    background-color: white;
    color: black;
    text-align: center;
    display: none;
    margin: .7em;
}

.card h3 {
    margin: 0;
}

.meaning {
    font-style: italic;
    font-size: 1rem;
    font-weight: 700;
}

.large-card {
    background-color: white;
    color: white;
    margin: 1em;
    padding-bottom: 1em;
    text-align: center;
    justify-content: center;    
    border-radius: 1em;
    border-color: white;
    width: 80%;
}

.card .fa {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.fem {
    background-color: gold;
}

.neut {
    background-color: lightgreen;
}

.masc {
    background-color: plum;
}

.load {
    background-color: lightgrey;
}

img {
    height: 100px;
    width: 100px;
}

tbody tr:hover {
    background-color: #e6e6fa;
}

/*Nav and Footer*/
h1 {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.name span {
    color: white;
}

header {
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #9370db;
    text-align: center;
    width: 100%;
}

header p {
    display: inline;
}

#links {
    display: none;
}


nav {
    background-color: #e6e6fa;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.search {
    align-items: right;
    display: none;
}

nav a {
    color: black;
    margin-right: .5em;
    margin-left: .5em;
}

.topnav-right {
    float: right;
}

#hamburger-menu {
    display: inline;

}

.material-icons {
    color: black;
    padding-top: 0.5rem;
    position: relative;
    top: 5px;
}

footer {
    color: black;
    background-color: #e6e6fa;
    bottom:0;
    padding: 1em;
    position: relative;
    width: 100%;
}

.footer-flexbox {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0em;
}

.footer-flexbox p {
    flex-basis: 100%;
    padding-left: 2em;
}

footer a {
    color: black;
}

footer p:last-of-type {
    line-height: 1.25;
    padding-top: 8px;
}

/*Data View 2 - Bigger Card*/
.attribute {
    width: 80%;
   background-color: white;
   color: black;
   text-align: center;
   font-size: .8rem;
   margin: 1em;
   padding: 1em;
   position: relative;
   border-color: white;
}

.section2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: auto;

}

.section2 .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;
    width: 80%;
}

.section2 h2 {
    font-size: larger;
}

.section2 .card .fa {
    color: black;
    font-size: .9rem;
    font-weight: bold;
}

/*Form - Enter Name*/
.update {
    text-align: center;
}

.form-attribute {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: lavender;
    border-radius: 1rem;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.button {
    margin: 1rem;
    background-color: #9370db;
    color: white;
}

/* bookmark page table */
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-collapsable: collapsable;
}

td {
    padding: 1rem;
}

h4 {
    font-size: 1rem;
}


.book-container {
    margin-left: 2rem;
}

tbody img {
    height: 40px;
    width: 40px;
}

th {
    font-size: 15px;
    color: black;
}
/* Card Flip*/
/* .image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: inherit;
} */

/* .nameCard {
    width: 100%;
} */


.card.outer:hover {
    cursor: pointer;
}

.card.outer.name-expanded {
    height: 780px;
    animation: expand 0.5s ease;
}

.collapsable {
    opacity: 0;
    display: none;
}

.name-unexpanded > .collapsable, .name-expanded > .collapsable {
    width: 100%;
    text-align: center;
    height: 66px;
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card.outer.name-expanded .inner.card {
    display: none;
}

.name-unexpanded > .collapsable {
    opacity: 0;
    display: none;
    animation: unreveal 0.5s ease;
}

.name-expanded > .collapsable {
    opacity: 1;
    display: block;
    animation: reveal 0.7s ease;
}

/* .collapsable > * > * {
    display: block;
}

.collapsable > * > *:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}
.collapsable > * > *:nth-child(2) {
    font-size: 0.9rem;
} */

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes unreveal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes expand {
    0% {
        height: 180px;
    }
    100% {
        height: 780px;
    }
}
@keyframes unexpand {
    0% {
        height: 780px;
    }
    100% {
        height: 180px;
    }
}



/* RESPONSIVE */
@media (min-width: 585px) {
    th {
        font-size: 25px;
        color: #9370db;
        text-align: center;
    }

    tbody img {
        display: block;
        height: 60px;
        width: 60px;
    }

    footer {
        display: block;
    }

    .search {
        display: inline;
    }

    /* Filter */
    .gender-text {
        display: inline;
    }

    #links {
        display: inline;
    }

    #hamburger-menu {
        display: none;
    }
    
}

@media (min-width: 785px) {
    .item {
        flex: 1;
    }

    .item.long {
        flex: 2;
    }

}

@media (min-width: 1000px) {
    .inner.card {
        display: block;
    }
}